---
layout: layouts/base.njk
---
<!--If creating article, delete section tag-->
<section class="index" style="background: url(/img/Loadingscreen_A_New_Dawn.png) center center / cover no-repeat;">
    <div>
        <h1>Your support is our lifeline</h1>
        <h3>Help us continue to support those in need throughout the Outlands.</h3>
        <a class="ipfsButton" href="/donate/">Donate Today</a>
    </div>
</section>
<section class="index" style="background: url(/img/Loadingscreen_Worlds_Edge_MU1.png) center center / cover no-repeat;">
    <div>
        <h1>Always be prepared</h1>
        <h3>Our training courses provide you with the resources you need during an emergency.</h3>
        <a class="ipfsButton" href="/training/">Sign Up for First Aid Training</a>
    </div>
</section>
<section class="index" style="background: url(/img/Loadingscreen_Tip_of_the_Spear.png) center center / cover no-repeat;">
    <div>
        <h1>Join us</h1>
        <h3>We're always in need for more hands, and the demand is growing everyday.</h3>
        <a class="ipfsButton" href="/volunteer/">See Volunteer Openings</a>
    </div>
</section>