---
title: Latest News
layout: layouts/feed.njk
---
<div>
    <h2>Public Advisories</h2>
    {% set articlegroup = collections['Public Advisories'] %}
    {% include "articlelist.njk" %}
</div>
<div>
    <h2>Press Releases</h2>
    {% set articlegroup = collections['Press Releases'] %}
    {% include "articlelist.njk" %}
</div>