---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - readme
  addAllPagesToCollections: true
layout: layouts/feed.njk
eleventyComputed:
  title: '{{ tag }}'
permalink: /news/{{ tag | slug }}/
---
<div class="news slim navPad">
{% set articlegroup = collections[ tag ] %}
{% include "articlelist_slim.njk" %}
</div>